@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Lato, Roboto, sans-serif;
  box-sizing: border-box;
  outline: none;
}

#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#error h1 {
  font-weight: bold;
  font-size: 60px;
}

#error p {
  font-size: 20px;
}